@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    /* colors */ 
    .bg-0 { 
        @apply bg-[#21262d]; 
    } 
    .bg-1 { 
        @apply bg-[#161b22]; 
    } 
    .bg-2 { 
        @apply bg-[#0d1117]; 
    } 
    .bg-3 { 
        @apply bg-[#010409]; 
    } 
 
    .text-0 { 
        @apply text-[#f0f6fc]; 
    } 
    .text-1 { 
        @apply text-[#c9d1d9]; 
    } 
    .text-2 { 
        @apply text-[#8b949e]; 
    } 
    .text-3 { 
        @apply text-[#6e7681]; 
    } 
 
    .border-general { 
        @apply border-[#21262d]; 
    }
}

.box {
    width: 5px;
    height: 250px;
  }
  
  .box--gradient {
    background-image: linear-gradient(#2a6496, #fff  70%, #011852);
  }

@media (max-width:550px){
    .swiper-pagination {
        display: none !important;
    }
}